* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav img {
  width: 300px;
  height: 100px;
}

.search-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 18px;
}

input:focus {
  outline: none;
  border: none;
}

.search-icon {
  background-color: rgb(24, 16, 64);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fdfeff;
  border-radius: 38px;
  margin-right: 1rem;
}

.search-icon :hover {
  transform: translateY(-1px);
  transition: transform 0.1s ease;
}

.contenedor-principal {
  margin: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

.contenedor-principal-ls {
  height: fit-content;
  padding: 30px;
  margin-top: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  background-color: rgb(24, 16, 64);
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-title {
  text-align: center;
  font-size: 64px;
  color: white;
}

.main-title span {
  color: turquoise;
  font-style: italic;
  text-decoration: underline;
  font-family: "Roboto";
  font-weight: 900 bold;
}

p {
  color: white;
  font-family: "Roboto";
  font-size: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.button a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 18px;
}

.button :hover {
  background-color: white;
  color: black;
  border-radius: 18px;
}

@media screen and (max-width: 1550px) {
  .contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-principal-ls {
    width: fit-content;
  }

  .contenedor-principal-rs {
    display: none;
  }
}

@media screen and (max-width: 780px) {
  header {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .search-nav {
    width: 100%;
  }
}
