* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: url("../img/space.jpg");
}

header {
  height: 100px;
  position: sticky;
  top: 0px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main {
  margin-top: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-container {
  height: fit-content;
  width: 700px;
  background-color: rgb(24, 16, 64);
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-container-header {
  color: white;
  text-align: center;
  margin-top: 1rem;
}

.main-container-body {
  color: white;
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-container-body-questions {
  margin: 5px;
}

.checkbox-container {
  margin-top: 10px;
}

.btn-results {
  margin-top: 1rem;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.btn-results button {
  color: rgb(24, 16, 64);
  padding: 10px;
  border-radius: 18px;
  font-size: 16px;
}

.btn-results :hover {
  background-color: rgb(24, 16, 64);
  color: white;
  transition: 0.1s;
}

.img-principal {
  width: 500px;
  height: 500px;
}

.navegador,
.logo-nav,
.search {
  width: 33%;
  text-align: center;
}

.logo-nav img {
  width: 300px;
  height: 100px;
}

.navegador ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
}

.navegador ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 18px;
}

.navegador ul :hover {
  background-color: white;
  border-radius: 18px;
  color: black;
  transition: 0.1s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.search i {
  color: white;
  cursor: pointer;
}

.search input {
  border-radius: 18px;
  width: 300px;
  padding: 10px;
}
