* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../img/space.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

.show {
  opacity: 1 !important;
}

.modal-container {
  position: fixed;
  top: 6rem;
  right: 1rem;
  padding: 10px;
  border-radius: 8px;
  opacity: 0;
  width: 400px;
}

#boton-cierre-modal {
  cursor: pointer;
  padding: 3px 5px;
  color: #fdfeff;
}

#boton-cierre-modal :hover {
  transform: translateY(-1px);
  transition: transform 0.1s ease;
  color: black;
}

.modal-header h3 {
  text-align: center;
  color: white;
  font-size: 18px;
}

.modal-container p {
  font-size: 14px;
}

.error {
  background-color: rgb(210, 70, 70);
}

.success {
  background-color: rgb(70, 210, 70);
}

main {
  height: 90vh;
}

header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nav img {
  width: 300px;
  height: 100px;
}

.search-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

input {
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 18px;
}

input:focus {
  outline: none;
  border: none;
}

.search-icon {
  background-color: rgb(24, 16, 64);
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  color: #fdfeff;
  border-radius: 38px;
  margin-right: 1rem;
  cursor: pointer;
}

.search-icon :hover {
  transform: translateY(-1px);
  transition: transform 0.1s ease;
}

.contenedor-principal {
  margin: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
}

.contenedor-principal-ls {
  height: fit-content;
  padding: 30px;
  margin-top: 1rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  background-color: rgb(24, 16, 64);
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
}

.main-title {
  text-align: center;
  font-size: 64px;
  color: white;
}

.main-title span {
  color: turquoise;
  font-style: italic;
  text-decoration: underline;
  font-family: "Roboto";
  font-weight: 900 bold;
}

p {
  color: white;
  font-family: "Roboto";
  font-size: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 2rem;
}

.button-name {
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 10px 15px;
  border-radius: 18px;
  cursor: pointer;
}

.button :hover {
  background-color: white;
  color: black;
  border-radius: 18px;
}

/* Characters section */

select {
  text-align: center;
  padding: 5px 15px;
  color: rgb(24, 16, 64);
  background-color: white;
  border-radius: 18px;
  font-family: "Poppins";
  font-size: 16px;
  width: 150px;
  cursor: pointer;
}

.main-characters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 3rem;
}

.characters-container {
  display: flex;
  height: 700px;
  width: 100%;
  margin: 3rem;
}

.filters {
  background-color: rgb(24, 16, 64);
  width: 15%;
  height: 100%;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.filters-selects {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.filter-button {
  text-align: center;
  padding: 10px 15px;
  color: rgb(24, 16, 64);
  background-color: white;
  border-radius: 18px;
  font-family: "Poppins";
  font-size: 16px;
  width: 150px;
  cursor: pointer;
  margin-bottom: 2rem;
}

.filter-button button {
  background-color: white;
}

.characters-info {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 100%;
  width: 90%;
  background-color: rgb(24, 16, 64);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
}

.card-character {
  margin: 1rem;
  height: 300px;
  width: 300px;
  background-color: red;
}

/* Media queries */

@media screen and (max-width: 1550px) {
  .contenedor-principal {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contenedor-principal-ls {
    width: fit-content;
  }
}

@media screen and (max-width: 1300px) {
  .contenedor-principal-rs {
    display: none;
  }

  .filters {
    width: 20%;
  }

  select,
  .filter-button {
    width: 120px;
  }
}
@media screen and (max-width: 780px) {
  header {
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 5rem;
  }

  .characters-container {
    margin: 1rem;
  }

  .filters {
    width: 40%;
  }

  select,
  .filter-button {
    width: 100px;
  }

  .contenedor-principal {
    margin-top: 1rem;
  }

  .contenedor-principal-ls {
    width: 100%;
    gap: 3rem;
  }

  .main-title {
    font-size: 48px;
  }

  .contenedor-principal-ls p {
    font-size: 20px;
    height: 400px;
    overflow-y: scroll;
  }

  .buttons {
    gap: 0;
  }

  .contenedor-principal {
    margin: 1rem;
  }

  .search-nav {
    margin: 1rem;
    width: 90%;
    justify-content: space-between;
  }

  .search-input {
    flex-grow: 1;
  }

  .modal-container {
    width: 400px;
    top: 2rem;
  }
}
